<html>

<head>
    <style>
        h1 {
            text-align: center;
        }
        
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 250px;
        }
    </style>
</head>

<body style="background-color:rgb(241, 215, 143);">
    <h1 style="font-size:60px;font-family: Verdana">Gandhinagar Railway Station Database</h1>
    <div class="slider">
        <img src="2.jpeg" ,height="600px" ,width="300px" />
        <img src="3.jpeg" ,height="1000000px" ,width="300px" />
    </div>
</body>


<a href="/trains" class="button">Trains</a>
<a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F2%2F20%2FSiuri_railway_station.jpg&imgrefurl=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FSiuri_railway_station&tbnid=4763CPJMExe07M&vet=12ahUKEwiN_c3K-uP2AhUn0qACHUBzCTEQMygDegUIARDfAQ..i&docid=HVNXDtdzEKqMhM&w=3822&h=2867&q=railway%20station&ved=2ahUKEwiN_c3K-uP2AhUn0qACHUBzCTEQMygDegUIARDfAQ"
    class="button">Staff</a>
<a href="#" class="button">Vendor</a>
<a href="#" class="button">Ticket</a>
<a href="/passengers" class="button">Passenger</a>


</html>