<html>

<head>
    <style>
        h1 {
            text-align: center;
        }
        
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 250px;
        }
    </style>
</head>

<body style="background-color:rgb(241, 215, 143);">
    <h1 style="font-size:60px;font-family: Verdana">Gandhinagar Railway Station Database</h1>
    <div class="slider">
        <img src="2.jpeg" ,height="600px" ,width="300px" />
        <img src="3.jpeg" ,height="1000000px" ,width="300px" />
    </div>
</body>


<a href="/trains" class="button">Trains</a>
<a href="/staff" class="button">Staff</a>
<a href="#" class="button">Vendor</a>
<a href="#" class="button">Ticket</a>
<a href="#" class="button">Passenger</a>


</html>